.item-citas {
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
.acordion{
    width:55vmax;
    height: 230px;    
}
}
.tabla-citas{
    height: 75vh;
}
.item-odontologo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #cceded;
.img-odontologo{
    height: 150px;
    width: 150px;

}
}